{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
{#        <link rel="stylesheet" href="{% static 'css/blog.css' %}">#}
    </head>
    <body>
        <div class="page-header">

            <h1><a href="/">Basic Treasure Generator</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <form action="{% url "Random_Gen:treasure_result" %}" method="post">{% csrf_token %}

{#                        <input type="text" hidden="hidden" value="{{ csrf_token }}" name="csrf_token" disabled="">#}
                        <label for="enc_level">Encounter Level :: </label>
                        <input type="text" name="enc_level" value="1">
                        <button type="submit" name="submit">Generate Treasure</button>
                    </form>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>