
<html>
<head>
    <title>Treasure</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    {#        <link rel="stylesheet" href="{% static 'css/blog.css' %}">#}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<div class="page-header">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">RPG Resource</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/treasure_gen">Treasure Generator</a></li>
      <li><a href="#">Game Blog (Coming Soon)</a></li>
      <li><a href="#">Knowledge (Coming Soon)</a></li>
        <li><a href="/admin">Dungeon Master's Screen</a></li>
    </ul>
  </div>
</nav>
</div>

</body>
</html>