{% include 'base.html' %}
{% block home %}
<div class="content container">
    <div class="col-md-6 col-sm-offset-3 well">
        <h4>Welcome to RPG Resources!</h4>
        <p> Sit hendrerit constituam an. Eleifend dissentiunt eam te, quo ut consul everti. Inciderint liberavisse cu eos, vim putant elaboraret at. Mea quem nonumes ut. Assum definitionem eos no, ne putent facilisi suscipiantur eos, bonorum vituperata qui no. Eu vix iusto luptatum inimicus, ea vim error postulant.

Esse duis option mea  cu platonem molestiae. At amet appareat disputationi nec, altera voluptaria an est. Te vel detracto expetenda suscipiantur, ea fuisset consequuntur eum, partem accumsan detracto nam ne.

Denique eligendi tempo.
Ex sale adolescens mei, cu dolore vulputate ius, vix minim everti an. Sea eligendi torquatos ei, ut utinam posidonium pro. Has ancillae omnesque erroribus ei. Ea mea agam legimus intellegat.

Nostro tacimates te mea, vim id meis tollit consequuntur. Te dicit vocent denique vix, no quo mazim laudem albucius. Ne est consul perfecto, et blandit luptatum sea. Usu id platonem constituto, cu ius quaeque epicuri, aperiam euripidis qui ei. Novum maluisset maiestatis eu eos, eos no docendi probatus forensibus, nec ad bonorum accusam sensibus. Ut possim laoreet eos, purto fabellas te est.</p>
    </div>
</div>
{% endblock %}